#consultOrders{
    width: 100%;
    background-color: white;
    overflow: hidden;
    position: relative;
    padding: 0;
    margin-top: 68px;
    margin-bottom: 100px;
}
#consultOrders .searchInputOrder{
    margin-top:2%;
}
#consultOrders .searchInputOrder .search-bar{
    margin: 0 auto;
    padding: 5px 0px;
}
#consultOrders .searchInputOrder .labelSearchBar{
    display: flex;
    align-items: center;
    width: calc(100% - 607px);
    margin: 0 auto;
    padding: 5px 0px;
    font-size: 13px;
    color:#6E6B7B;
}
#consultOrders .itemOrder-null{
    text-align: center;
    margin-top: 5%;
}

#consultOrders .btnSearch{
    right: 7px;
    position: absolute;
    border: none;
    background: white;
}
#consultOrders .itemOrder-null .searchNull1{
    color: #28262b;
    font-size: 15px;;
}
#consultOrders .itemOrder-null .searchNull2{
    color: #514D5B;
    font-size: 13px;
    line-height: 5px;
}
#consultOrders .itemOrder-null .searchNull2{
    color: #514D5B;
    font-size: 13px;
    line-height: 5px;
}
#consultOrders .searchInputOrder .search-bar .searchIcon {
    top: 5px;
    z-index: 999;
    cursor: pointer;
}
@media screen and (max-width: 992px) {
    #consultOrders .searchInputOrder .labelSearchBar {
        width: 100%;
        margin-bottom: 8px;
    }
    #consultOrders .searchInputOrder{
        padding:15px;
    }
}
@media only screen and (max-width: 767px){
    #consultOrders .searchInputOrder .right-addon .glyphicon {
        right: 0px !important;
    }
}