
.fz15 {
    font-size: 15px !important;
}
.order-detail .or-dh-stt {
    background-color: #8d869d;
}
.order-detail {
    background: #fff;
    border: 0.5px solid #d8d8d8;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 13px;
    padding:15px;
}
.order-detail-icon {
    text-align: right;
}
.order-detail-info {
    background: #f8f8f8;
    border: 0.5px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 5px;
}
.order-detail .or-dh-stt {
    margin: 0;
}
.info-detail-sender {
    border-bottom: 0.5px dashed #bcb8c6;
    box-sizing: border-box;
    margin-right: 10px;
    padding-bottom: 7px;
    margin-bottom: 7px;
}
.info-detail-recipient {
    margin-right: 10px;
    padding-bottom: 15px;
    margin-bottom: 7px;
    border-bottom: 0.5px dashed #bcb8c6;
    box-sizing: border-box;
}
.order-detail-info {
    margin-top: 21px;
    padding-top: 8px;
    padding-left: 12px;
}
.order-detail-left {
    padding-left: 17px;
}
.info-detail-sender-2 {
    margin-top: 10px;
}
.info-detail-sender-2 > div {
    padding-left: 13px;
    line-height: 18px;
    padding-top: 3px;
}
.info-fee {
    background: #f8f8f8;
    border: 0.5px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 11px;
    padding: 8px 12px 15px 12px;
}
.info-fee-1 {
    padding-left: 10px;
    padding-top: 3px;
    line-height: 20px;
}
.info-fee-2 {
    color: #2db1db;
}
.info-fee-title {
    margin-bottom: 8px;
}
.info-fee-3 {
    width: 18px;
    /* text-align: center; */
    padding-top: 4px;
    margin-top: -1px;
}
.info-fee-4 {
    padding-left: 14px;
    display: flex;
    align-items: baseline;
}
.info-fee-4 > div > button {
    background: #f0a616;
    border-radius: 20px;
    height: 24px;
    width: 68px;
    color: #fff;
    border: none;
    margin-left: 5px;
}
.info-fee-cod {
    padding-top: 1px;
}
.info-fee-change-cod {
    padding-top: 6px;
}
.info-fee-icon-1 {
    color: #f0a616;
}
.info-fee-icon-2 {
    color: #885de5;
}
.info-fee-line {
    margin: 0 8px;
}
.info-detail-sender-img {
    width: 18px;
    height: 18px;
}
.info-order-detail {
    background: #f8f8f8;
    border: 0.5px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 11px;
    padding: 8px 12px 15px 12px;
}
.info-order-detail-2,
.info-order-detail-5 {
    padding-left: 13px;
    padding-top: 10px;
}
.info-order-detail-3 {
    margin-top: 7px;
}
.info-order-detail-3 > div {
    padding-bottom: 6px;
}
.info-order-detail-3 > div > span {
    padding-right: 10px;
}
.info-order-detail-4 > div {
    padding-bottom: 6px;
    margin-top: 6px;
}
/* .info-order-detail-4 > div > span {
    padding-right: 19px;
} */
.code-order-detail {
    word-break: break-word;
}
.info-order-detail-4 .info-fee-2 {
    padding-right: 6px;
}
.info-order-detail-2 {
    border-bottom: 0.5px dashed #bcb8c6;
    box-sizing: border-box;
    padding-bottom: 6px;
}
.info-order-shipper {
    padding: 8px 12px 10px 12px;
    background: #f8f8f8;
    border: 0.5px solid #dbdbdb;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 13px;
}
.info-order-shipper-3 {
    margin-top: 10px;
}
.info-order-shipper-3 > span {
    padding-left: 4px;
}
.info-order-shipper-1 {
    border-bottom: 0.5px dashed #bcb8c6;
    box-sizing: border-box;
    padding-bottom: 16px;
    margin-bottom: 10px;
}
.info-order-shipper-4 {
    float: right;
    padding-right:15px;
}
.code-orders-detail .jn-if-left-tt {
    line-height: 19px;
}
.order-detail-journey-timeline {
    margin-left: -9px;
}
.order-detail-journey-detail {
    font-size: 13px;
}
.order-detail-journey-font {
    font-size: 12px;
}
.order-detail-journey-timeline-2 {
    margin-left: -5px;
}
.order-detail-journey-false {
    color: #ec6f6f;
}
.order-detail-journey-detail > div {
    margin-top: 10px;
}
.order-detail-journey-body {
    margin-left: 10px;
    display: flex;
}
.order-detail-journey-body-main {
    overflow: auto;
    height: 245px;
}
.order-detail-journey-title {
    padding-bottom: 10px;
}
.order-detail-journey-top {
    width: 16px;
}
.order-detail-journey-line {
    width: 0.5px;
    border-left: 1px solid #dbdbdb;
    margin-top: 27px;
    margin-bottom: 24px;
}
.order-detail-journey-w25 {
    width: 25%;
    line-height: 18px;
}
.order-detail-journey-w65 {
    width: 65%;
    line-height: 18px;
}
.order-detail-journey-w10 {
    width: 10%;
    line-height: 18px;
}
.order-detail-journey-w16 {
    width: 16px;
}
.order-detail-journey-2 {
    color: #918e96;
    font-size: 12px;
}
.order-detail-journey-detail-flex {
    display: flex;
}
.status-order-detail-body {
    margin-top: 12px;
}
.order-detail-journey-body-main::-webkit-scrollbar {
    width: 10px;
}
.order-detail-journey-body-main::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey;
    border-radius: 10px;
}
.order-detail-journey-body-main::-webkit-scrollbar-thumb {
    background: rgba(136, 93, 229, 0.1);
    border-radius: 10px;
}
.order-detail-journey-body-main::-webkit-scrollbar-thumb:hover {
    background: rgba(136, 93, 229, 0.1);
}
li.w-100.text-right.listOrders-btn-xndh {
    display: flex;
    justify-content: flex-end;
}
li.w-100.timeOrder {
    text-align: right;
}
.list-orders-img-mobie {
    display: none;
}
.order-detail-dislabled {
    background-color: #f1f1f1 !important;
}
#product-category a:not([href]):not([tabindex]) {
    background-color: #f1f1f1 !important;
}
.listOders-detail-status {
    float: right;
}

.colorPurple {
    color: #885DE5!important;
}

.colorOrange {
    color: #F0A616!important;
}

.curentStatus{
    position:absolute;
    right: 15px;
}
.jouneyTop{
    margin-top: 15px;
}
.footerConsult{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
  .info-order-detail-4{
    padding-left: 30px;
  }
  .infoOrderDetail{
      font-weight: 600;
  }